@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    font-family: sans-serif;
    /*    color: #707070;*/
}

a {
    text-decoration: none;
    color: #FFFFFF;
}


.bottomSection img {
    height: 649px;
    width: 649px;
    float: left;
    padding-top: 60px;
}

.contents h1 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding-top: 15%;
    padding-left: 750px;
    /* float: right; */
    color: #707070;
}

.contents h3.prize {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-left: 750px;
    /* float: right; */
    color: #707070;
}


.last,
.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}



#navigation {
    background: #FFF;
}

#navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    /*    padding-right: 50px;*/
    padding-top: 20px;
}

#navigation ul li {
    display: block;
    float: left;
}

#navigation ul li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    /* uppercase all words of the text */
    color: #303393;
    padding: 12px 18px;
    line-height: 67px;
    font-weight: bold;
}

#navigation ul li a:hover {
    color: #D71D2F;
}

#navigation ul li a.active {
    color: red;
}

#navigation img {
    padding: 10px;
}

#navigation .menu {
    padding-right: 175px;
}

#headline {
    width: 100%;
    font-family: sans-serif;
    /*    background: black;*/
    color: #000;
    font-size: 14px;
}


#wrapper {
    margin: 0 auto;
    /* auto keeps every div in center*/
    height: auto;
    width: 85%;
}

#container {
    width: 100%;
}

.container-heading-top {
    margin: 3px 0 50px 0;
}

.container-heading-top h1 {
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
}

.container-heading h1 {
    text-align: center;
    text-transform: uppercase;
}

.container-heading-top .theInfo {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.container-heading-top .theInfo .intro {
    font-size: 26px;
}

.container-heading-top .theInfo .ques {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 10px;
}

.container-heading-top .theInfo .ans {
    font-size: 20px;
    padding-left: 50px;
}


.button {
    display: inline-block;
    margin-top: 20px;
}

.button a {
    color: #fff;
    background: #303393;
    text-decoration: none;
    padding: 10px 54px;
    border-radius: 30px;
    font-size: 20px;
}

.logo {
    display: block;
    height: 100px;
    padding: 10px 25px;
}

.colz-logo {
    height: 100px;
    width: 230px;
    float: left;
}

.event-logo {
    height: 100px;
    width: 300px;
    float: right;
}

.main-section {
    background-image: url("../image/jpg/2.jpg");
    background-size: cover;
}

.main-section,
.rules-section,
.registration-section {
    min-height: 80vh;
}

.prize,
contact-section {
    max-height: 55vh;
}

.prize-img img {
    width: 100%;
}

.rules-section {
    margin-top: 10px;
}

.rules {
    background-color: #f1f2f6;
    padding: 5px 18px;
    border-radius: 5%;
}

.rule {
    text-align: justify;
}

.rules-section .title,
.registration-section .row-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
}

.rules-section .title,
.registration-section .row-title,
.registration-section .colz-title,
.registration-section .register-detail {
    text-align: center;

}

.registration-section .container {
    display: flex;
}

.registration-section .col {
    flex: 50%;
    padding: 0 10px 0;
}

.registration-section .colz-logo-1 img,
.registration-section .ing-logo img {
    display: block;
    margin-bottom: 10px;
    padding-left: 200px;
    margin-right: auto;
    height: 180px;
}

.registration-section .colz-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-left: 80px;
}

.registration-section .register-detail {
    font-size: 20px;
}


.registration-section .btn {
    margin-top: 120px;
    position: relative;
}

.registration-section .islington-btn {
    margin-left: 280px;
}

.registration-section .ing-btn {
    margin-left: 80px;
}

.registration-section button.register-button {
    position: absolute;
    padding: 0 15px 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #303393;
    height: 35px;
    font-size: 18px;
    border: 2px #000000 solid;
    border-radius: 25px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 6;
    top: 46%;
    width: 100%;
}

.mainLogo {
    padding-left: 15%;
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    margin-top: -125px;
}

.mainLogo img {
    width: 950px;
    height: 250px;
    border-radius: 35px;
}

.h6,
h6 {
    font-size: 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

/*Contact Page*/
.contact {
    margin: 10px;
}

.contact h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #d71d2f;
}

.contact .contactOption {
    font-family: 'Mukta', sans-serif;
    padding: 50px 40px;
}

.contact .contactOption {
    background-color: #f1f2f6;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.contact .contactOption p.list-ans {
    padding-left: 20px;
    font-size: 25px;
}

.contact .contactOption ul li.list {
    font-size: 30px;
}


/*Responsiveness*/

@media screen and (max-width: 1140px) {
    .mainLogo img {
        width: 750px;
    }

    #navigation .menu {
        padding-right: 75px;
/*        float: none;*/
    }


}


@media screen and (max-width: 991px) {
    .event-logo {
        height: 100px;
        width: 280px;
    }

/*
    #navigation .menu {
        padding: 0;
    }
*/

    .rules-section .title,
    .registration-section .row-title {
        font-size: 38px;
    }

    .registration-section .colz-logo-1 img,
    .registration-section .ing-logo img {
        padding-left: 100px;

    }

    .registration-section .colz-title {
        font-size: 25px;
    }


    .registration-section .register-detail .colz-section {
        margin-left: 50px
    }

    .registration-section .islington-btn {
        margin-left: 140px;
    }

    .contact .contactOption p.list-ans {
        font-size: 20px;
    }

    .contact .contactOption ul li.list {
        font-size: 25px;
    }

}

@media screen and (max-width: 952px) {
    .event-logo {
        width: 0px;
    }

}

@media screen and (max-width: 900px) {
    .mainLogo img {
        width: 600px;
        height: 200px;
    }

    #navigation .menu li a {
        padding-right: 0;
    }

}

@media screen and (max-width: 884px) {
    .event-logo {
        width: 0;
    }

    .rules .title {
        font-size: 36px;
    }

    .rules .rule {
        font-size: 14px;
    }
}

@media screen and (max-width: 776px) {
    .mainLogo img {
        width: 600px;
    }

    .container-heading-top h1 {
        font-size: 40px;
    }

    .container-heading-top .theInfo .intro {
        font-size: 22px;
    }

    .container-heading-top .theInfo .ques {
        font-size: 26px;
        padding-top: 20px;
        padding-left: 10px;
    }

    .container-heading-top .theInfo .ans {
        font-size: 16px;
        padding-left: 50px;
    }

    .rules .title, .rules .row-title {
        font-size: 32px;
    }
}

@media screen and (max-width: 720px) {
    .mainLogo img {
        width: 550px;
        height: 180px;
    }
}

@media screen and (max-width: 670px) {

    #navigation ul li a {
        font-size: 16px;
        padding: 12px 12px;
    }

    .mainLogo img {
        width: 500px;
        height: 150px;
    }

    .registration-section .container {
        display: grid;
    }

    .registration-section .btn {
        margin-top: 10px;
        position: relative;
    }

    .registration-section .islington-btn {
        margin-left: 245px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .registration-section .ing-btn {
        margin-left: 50px;
    }

    .registration-section .colz-title {
        padding: 0;
    }
}

@media screen and (max-width: 576px) {

    .mainLogo img {
        width: 450px;
    }

    .colz-logo {
        height: 90px;
        width: 200px;
    }
}

@media screen and (max-width:500px) {
    .mainLogo img {
        width: 350px;
    }

    .colz-logo {
        height: 90px;
        width: 150px;
    }

    .rules {
        border-radius: 0;
    }

    .rules .title, .rules .row-title {
        font-size: 24px;
    }

    .registration-section .colz-logo-1 img,
    .registration-section .ing-logo img {
        padding-left: 75px;

    }
}

@media screen and (max-width:400px) {

    #navigation ul li a {
        font-size: 14px;
        padding: 12px 12px;
    }

    .mainLogo img {
        width: 250px;
        height: 100px;
    }

    .colz-logo {
        width: 200px;
    }

    .last {
        position: static;
    }

    .rules {
        margin-top: 10px;
    }

    .registration-section .islington-btn {
        margin-left: 155px;
    }

    .registration-section .ing-logo img {
        padding-left: 40px;
    }

    .registration-section .register-detail .colz-section {
        margin-left: 0px;
    }

    .registration-section .ing-btn {
        margin-left: 0px;
    }

    .contact #wrapper {
        width: auto;
    }
}

@media screen and (max-width:350px){
    #navigation ul li a {
        font-size: 10px;
    }
    
    .colz-logo {
        height: 100px;
    }
    
    .container-heading-top h1 {
    font-size: 28px;
}
    .container-heading-top .theInfo .intro {
        font-size: 18px;
    }

    .container-heading-top .theInfo .ques {
        font-size: 22px;
        padding-top: 20px;
        padding-left: 10px;
    }

    .container-heading-top .theInfo .ans {
        font-size: 12px;
        padding-left: 50px;
    }

    .rules .title, .rules .row-title {
        font-size: 26px;
    }
    
    .registration-section .ing-logo img {
        width: 250px;
    }
    
    .registration-section .islington-btn {
        margin-left: 130px;
    }
    
    .registration-section .colz-logo-1 img{
        padding-left: 45px;
    }
    
    .contact .contactOption p.list-ans {
        font-size: 18px;
    }

    .contact .contactOption ul li.list {
        font-size: 22px;
    }
}
